@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --primary: #eef1f7;
  --secondary: #9c9c9c;
  --font-normal: 400;
  --font-bold: 700;
}

/* base styles */

body {
  font-family: "Open Sans", sans-serif;
}

/* mobile styles */

.container {
  padding: 8px 24px;
}

body {
  background: var(--primary);
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  background: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

header .hamburger {
  display: inline-block;
  cursor: pointer;
  height: 24px;
}

header .hamburger span {
  display: block;
  background-color: #000;
  width: 24px;
  height: 3px;
  border-radius: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

header .hamburger span::before,
header .hamburger span::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: inherit;
  position: absolute;
  visibility: visible;
}

header .hamburger span::before {
  bottom: 6px;
  transition: bottom 0.2s ease-in-out 0.2s, transform 0.2s;
}

header .hamburger span::after {
  top: 6px;
  transition: top 0.2s ease-in-out 0.2s, transform 0.2s;
}

header .hamburger.open span {
  visibility: hidden;
  transition: visibility 0.2s;
}

header .hamburger.open span::before {
  bottom: 0px;
  transform: rotateZ(45deg);
  transition: bottom 0.2s, transform 0.2s ease-in-out 0.2s;
}

header .hamburger.open span::after {
  top: 0px;
  transform: rotateZ(-45deg);
  transition: top 0.2s, transform 0.2s ease-in-out 0.2s;
}

header .logo {
  display: inline-block;
}

header .logo img {
  width: 100px;
}

main.container {
  padding: 0px 16px;
}

section.location {
  position: relative;
  top: 100px;
  background: var(--primary);
}

section.location .location-view {
  background: #fff;
  padding: 8px 16px;
  border-radius: 8px;
}

section.location .location-view .weather-detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 16px 0px;
}

section.location .location-view h3 {
  font-size: 1rem;
  color: var(--secondary);
}

section.location .location-view .weather-img img {
  max-width: 128px;
}

section.location .location-view .weather-info {
  margin-left: 10px;
}

section.location .location-view .weather-info h4 {
  font-size: 2.2rem;
  font-weight: var(--font-bold);
}

section.location .location-view .weather-info p {
  font-weight: var(--font-bold);
  color: var(--secondary);
}

section.location .location-days {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.location .location-days-item {
  background: #fff;
  border-radius: 8px;
  width: 48%;
  text-align: center;
}

.overlay {
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 64px;
  z-index: 2;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  padding: 16px;
  transition: 0.3s linear;
  animation: 0.3s linear overlay-close;
}

.overlay.is-open {
  opacity: 1;
  visibility: visible;
  animation: .3s linear overlay-open;
}

@keyframes overlay-open {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes overlay-close {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-120%);
  }
}

.overlay .location-form input {
  background: #fff;
  border: 0 none;
  outline: 0 none;
  height: 48px;
  width: 100%;
  border-radius: 4px;
  padding: 0px 12px;
  color: #729beb;
  font-size: 1.1rem;
}

.overlay .location-form input::placeholder {
  color: var(--secondary);
}

.overlay .location-form .current-location {
  width: 100%;
  height: 48px;
  background: #fff;
  margin: 12px 0px;
  border-radius: 4px;
  line-height: 48px;
  padding: 0 12px;
  color: var(--secondary);
  font-size: 1rem;
}

.overlay .location-form .current-location .fa {
  margin-right: 8px;
}
